/* body{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRU5jRlny1KD1jSmd-wLGiXMd6xqDs_gbR2qZAwNgkGTS8kUbusxA&s');
} */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
iframe{
  width: 700px;
  height: 370px;
  border: #282c34;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (min-width: 768px) {
  .navbar-left {
    height: 100vh !important;
  }
}

.App-link {
  color: #09d3ac;
}
#butin{
  height: 30px;
  width: 56px;
  padding-bottom: 2px;
  padding-top: 2px;
}
#move1{
  margin-left: 25px;
}
#font{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}